@model IEnumerable<Ballpark.Models.Event.EventListItem>

@{
    ViewBag.Title = "Index";
}

<h2>My Progress</h2>

<style>
    .eventLink {
        color: white;
    }
</style>

<div class="progress">
    <div class="progress-bar progress-bar-striped" style="width:7%;">2 out of 30</div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if  (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }, new { @class = "eventLink" }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }, new { @class = "eventLink" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID }, new { @class = "eventLink" })
        </td>
    </tr>
}
</table>

@ViewBag.VenueCount
