@model IEnumerable<Ballpark.Models.Team.TeamListItem>

@{
    ViewBag.Title = "Teams";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TeamID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TeamName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VenueName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sport)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TeamID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TeamID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TeamID })
    </td>
</tr>
    }

</table>
