@model IEnumerable<Ballpark.Models.Team.TeamListItem>

@{
    ViewBag.Title = "Teams";
}

<h2>MLB Teams</h2>

<style>
    h2 {
        text-align: center;
        font-style: italic;
        font-size: 70px;
    }

    .teamLink {
        color: white;
    }
</style>

<p>
    @Html.ActionLink("Add Team", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.TeamName, "Details", new { id = item.TeamID }, new { @class = "teamLink" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamID }, new { @class = "teamLink" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamID }, new { @class = "teamLink" })
            </td>
        </tr>
    }

</table>
